
<style>
    body {
        background-color: #F2F0EA;
    }
    footer {
        font-family: Montserrat, sans-serif;

    }

    h3 {
        font-family: Montserrat, sans-serif;
    }

    h6 {
        font-family: Montserrat, sans-serif;
        color: #7D7D7D;
    }



</style>


<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Didact+Gothic&family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h3>Digite seu <strong>nome</strong>:</h3>
        <form>
            <input type="text" id="name" placeholder="Digite seu nome..." />
        </form>

        <h3>Digite sua <strong>turma</strong>:</h3>
        <form>
            <input type="text" id="class" placeholder="Digite sua turma..." />
        </form>

        <h3>Digite sua <strong>disciplina</strong>:</h3>
        <form>
            <input type="text" id="discipline" placeholder="Digite sua disciplina..." />
        </form>


        <br />
        <br />
        <h6>21/10/2025</h6>

        <hr />
        <br />
        <marquee behavior="alternate">
            © 2025 - Acadêmico • Hosted by Júlia
        </marquee>

    </body>
</html>
